@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<h3>Locally Owned</h3>
    <p>
        Manitowoc Coffee is locally owned and operated by Peter and Teri Stemper. We are a small town coffee shop with small town values. We strive to provide our customers with the best products along with a warm, welcoming and friendly atmosphere. If your looking for a comfortable place to visit, whether your alone or with guests, this is the place for you.
    </p>

<h3>Roasted Locally</h3>
    <p>
        We roast every bean our self right here in Manitowoc to ensure the most freshness and best flavor . That’s right – every sip has been carefully crafted right here in Manitowoc. We hope you enjoy the coffee as much as we loved roasting and brewing it for you. We are located in downtown Manitowoc, right across from the Library. We offer coffee (of course), lattes and other specialty drinks that fit your craving. In addition to beverages, we offer food options as well. These include: breakfast sandwiches, deli sandwiches, grilled cheese, salads, soups, burgers and so much more. If this wasn’t enough, we also offer fresh bakery to satisfy that sweet tooth.
    </p>
