@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    836 S 8th Street<br />
    Manitowoc, WI 54220<br />
    <abbr title="Phone">P:</abbr>
    920.717.0574
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">mtwcoffee@gmail.com</a><br />
</address>