@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Manitowoc Coffee Company</h1>
    <p class="lead">Your coffee made locally</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Fresh Grind</h2>
        <p>Here at Manitowoc Coffee Company, we offer products that are freshly ground locally here in Manitowoc. Pete is a Manitowoc local and premium coffee snob so you know you will be getting a delicious cup of coffee that has been carefully roasted to perfection. Pete carefully selects what beans he buys to ensure that the buyers of these beans are thoroughly satisfied with every cup! Try if for yourself.</p>
        <p>Read more below about Manitowoc Coffee and visit our website.</p>
    </div>
    <div class="col-md-6">
        <h2>Coffee and Community</h2>
        <p>
            At Manitowoc Coffee we offer a variety of different coffee's that are brewed fresh each day. We also offer lattes and other espresso drinks if brewed coffee is not your cup of tea! In addition to coffee and espresso drinks, we offer bakery items and a full menu of lunch or snack items to meet your hunger needs. So whether you are looking for something to drink or eat, we have what you need.
        </p>
        <p><a class="btn btn-default" href="https://www.manitowoccoffee.com">Learn more at our website &raquo;</a></p>
    </div>
</div>